.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 5%;
  bottom: 10%;
}
.title-overlay.overlay-between {
  justify-content: space-between;
}
.title-overlay .diorama-title {
  max-width: 100%;
}
.title-overlay .diorama-subtitle {
  max-width: 100%;
  font-size: 3vw;
}

.diorama-slide {
  color: #fff;
  background: #111;
  text-shadow: 1rem 1rem 5px #222;
}
footer {
  color: #fff;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 2px #000, -1px -1px 2px #000;
}
